@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/* Footer Section */
#footer-section {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #000000, #333333, #1f1f1f);
    color: #fff;
    position: relative;
    padding: 80px 0 40px 0;
}

.footer {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.05);
    position: relative;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 2.6rem;
    padding-bottom: 2rem;
}

.footer-col {
    width: 22%;
    margin-bottom: 30px;
}

.row .log-png {
    width: 200px;
    height: auto;
    margin: -1rem 3rem 1rem 0;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    border-radius: 36px;
    background-image: linear-gradient(to right, #00FF00, #006400);
    height: 3px;
    box-sizing: border-box;
    width: 60px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #bbbbbb;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

/* social link */
.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 10px;
    /* Adjusted margin for spacing */
    text-align: center;
    line-height: 36px;
    border-radius: 50%;
    transition: transform 0.5s ease, background-color 0.3s ease;
    /* Added background-color transition */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.footer-col .social-links a svg {
    width: 20px;
    height: 20px;
    fill: white;
    /* Default color */
    transition: fill 0.3s ease;
    /* Smooth color transition */
}

.footer-col .social-links a:hover {
    background-color: #ffffffdc;
    /* Lighten background on hover */
    transform: scale(1.1);
    /* Scale up on hover */
}

.footer-col .social-links a:hover svg {
    fill: #24262b;
    /* Change fill color on hover */
}


/* Contact Box */
.contact-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(135deg, #1f1f1f, #333);
    color: #fff;
    border-radius: .25rem;
    padding: 1rem 2rem;
    position: absolute;
    bottom: 10%;
    right: 8%;
}

.phone-icon {
    font-size: 24px;
}

.phone-number {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}

.call-now {
    font-size: 14px;
    margin-top: 5px;
    text-transform: uppercase;
    color: #888;
}

/* Copy-right text */
.copy-right {
    margin: 20px auto 0;
    text-align: center;
}

/* Responsive Styles */
@media (max-width: 767px) {

    #footer-section {
        width: 100vw;
        height: auto;
    }

    .footer {
        background: none;
    }


    .footer-col {
        width: 48%;
        margin-bottom: 30px;
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 2rem;
    }

    .row .log-png {
        width: 100px;
        height: auto;
        margin: -3rem 0 1rem 0;
    }
    

    /* Contact Box */
    .contact-box {
        position: relative;
        padding: .2rem .4rem;
        margin-bottom: 7%;
        left: 0;
    }

    .phone-icon {
        font-size: 30px;
    }

    .phone-number {
        font-size: 20px;
        font-weight: bold;
        margin-top: 5px;
    }

    .call-now {
        font-size: 15px;
        margin-top: 5px;
        text-transform: uppercase;
        color: #d1d1d1;
    }

    .copy-right {
        margin: 20px auto 0;
        text-align: center;
        width: 70%;
        z-index: 3;
    }
}


@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}