/* section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
} */

.home {
    width: 100%;
    height: 100vh;
    background-color: #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    margin-top: 0;
    position: relative;
    z-index: -2;
}

/* Blob S vg */
#blob-top-svg {
    width: 400px;
    height: 400px;
    position: absolute;
    top: -9rem;
    left: -9rem;
    transform: rotate(50deg);
    z-index: -1;
}

/* bolob top right */
#blob-top-svg2 {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 7rem;
    right: -7rem;
    z-index: -1;
}

.home-txt h1 {
    font-size: 3rem;
    font-weight: 800;
}

.home-img {
    width: 800px;
    /* margin-left: 2rem; */
}

.home-txt .btn {
    background-color: var(--btn-color);
    color: var(--text-color);
    padding: 10px 23px;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    margin-top: 20px;
    transition: background-color 0.3s;
    color: white;
}

.home-txt .btn:hover {
    background-color: #fff;
    color: var(--text-color);
    background-color: rgba(116, 117, 117, 0.2);

}

