.home {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, .04);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    margin-top: 0;
    position: relative;
    /* z-index: -2; */
}

#four-squars {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 2rem;
    z-index: -1;
    right: 1rem;
}

#four-squars-horizontal {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 5%;
    left: 8%;
    transform: rotate(90deg);
    z-index: -1;
}

/* Blob S vg */
#blob-top-svg {
    width: 400px;
    height: 400px;
    position: absolute;
    top: -9rem;
    left: -9rem;
    transform: rotate(50deg);
    z-index: -1;
}

/* bolob top right */
#blob-top-svg2 {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 7rem;
    right: -7rem;
    z-index: -1;
}

.home-txt {
    margin: auto 4rem;
    /* z-index: 100; */
}

.home-txt h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 3rem;
    letter-spacing: 1px;
    position: relative;
}

.home-title::before {
    content: '';
    width: 18%;
    height: 7px;
    border-radius: 36px;
    background-image: linear-gradient(to right, #00FF00, #006400);
    position: absolute;
    bottom: -1rem;
    left: 0;
}

.home-img {
    width: 800px;
    /* margin-left: 2rem; */
    z-index: 1;
}

.home-txt .book-now {
    background-color: var(--btn-color);
    color: var(--text-color);
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    font-size: 1.3rem;
    margin-top: 50px;
    color: white;
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.home-txt .book-now:hover {
    background-color: rgba(116, 117, 117, 0.2);
    color: var(--text-color);
    transform: scale(1.02);
}


