{% extends 'base.html' %}

{% block navbar %}

{% endblock navbar %}
{% block content %}
<!-- Home Booking CSS -->
<link rel="stylesheet" href="../static/css/booking.css">
<div class="book-container">
    
    <!-- Progress Bar  -->
    <div class="progressbar-rapper">
        <div class="progressbar">
            <div class="progress" id="progress"></div>
            <div class="progress-step progress-step-active" data-title=""></div>
            <div class="progress-step" data-title=""></div>
            <div class="progress-step" data-title=""></div>
            <div class="progress-step" data-title=""></div>
        </div>
        <p class="text-center"> Tell us about your task. We use these details to show Taskers in your area who fit your needs.</p>
        <h2 class="service-title">Service name</h2>
    </div>

    <!-- Form Begins -->
    <form action="#" class="form">

        <!-- Form item - Basic -->
        <div class="form-step form-step-active">
            <h3>Your task location</h3>
            <div class="input-group">
                <input type="text" name="tasklocation" id="tasklocation" placeholder="Address"/>
            </div>
            <div class="input-group">
                <input type="text" name="streetname" id="streetname" placeholder="Street name" />
            </div>
            <div class="">
                <a href="#" class="btn btn-next">Continue</a>
            </div>
        </div>

        <!-- Form item - Task option -->
        <div class="form-step">
            <h3>Task options</h3>
            <div class="input-group taskoption">
                <h3>How big is your task?</h3>
                <label>
                    <input type="radio" name="task-size" value="small" /> Small - Est. 1 hr
                </label>
                <label>
                    <input type="radio" name="task-size" value="medium" /> Medium - Est. 2-3 hrs
                </label>
                <label>
                    <input type="radio" name="task-size" value="large" /> Large - Est. 4+ hrs
                </label>
            </div>

            <div class="btns-group">
                <a href="#" class="btn btn-prev">Back</a>
                <a href="#" class="btn btn-next">Continue</a>
            </div>
        </div>

        <!-- Form item - Detail -->
        <div class="form-step">
            <div class="input-group">
                <h3>Tell us the details of your task</h3>
                <p>Start the conversation and tell your Tasker what you need done. This helps us show you only qualified and available Taskers for the job. Don't worry, you can edit this later.</p>
                <textarea name="taskdetail" id="taskdetail" rows="4" placeholder="Hi! I'm looking for help fixing my broken furniture sofa. Please bring an electric drill and call me when you arrive"></textarea>
                <p>If you need two or more Taskers, please post additional tasks for each Tasker needed.</p>
            </div>
            <div class="btns-group">
                <a href="#" class="btn btn-prev">Back</a>
                <a href="#" class="btn btn-next">continue</a>
            </div>
        </div>

        <!-- Form item - Contact -->
        <div class="form-step">
            <h3>Your contact</h3>
            <div class="input-group">
                <input type="text" name="fullname" id="fullname" placeholder="Full name"/>
            </div>
            <div class="input-group">
                <input type="text" name="email" id="email" placeholder="Email"/>
            </div>
            <div class="input-group">
                <input type="tel" name="phone" id="phone" placeholder="Phone"/>
            </div>
            <div class="btns-group">
                <a href="#" class="btn btn-prev">Back</a>
                <input type="submit" value="Submit" class="btn" />
            </div>
        </div>
        
    </form>
</div>
<!-- Custom Js -->
<script src="../static/js/booking.js"></script>
{% endblock content %}
{% block footer %}
{% endblock footer %}
