{% extends "base.html" %}


{% block content %}
    <style>
        .header {
            /* font-family: 'Montserrat', sans-serif; */
            font-size: 2.4rem;
            font-weight: bold;
        }
        .btn {
            font-size: 1rem;
            font-weight: bold;
            background-color: var(--btn-color);
            margin-bottom: 1rem;
        }


        .main_container {
            background-image: url('../static/images/handyman-painting.jpg');
            background-size: cover;
            background-position: center;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }

        .sub_container {
            background-color: rgba(255, 255, 255, 1);
            border-radius: 10px;
            padding: 2.5rem;
            max-width: 400px;
        }

        .form-group {
            width: 100%;
        }

        label {
            font-size: .9rem;
            font-weight: bold;
        }

        .form-control {
            width: 100%;
            border-radius: 5px;
        }

        .forget-password {
            color: rgb(3, 128, 3);
            margin: -10px 0 1rem -200px;
            font-size: .95rem;
            font-weight: 600;
        }
        

    </style>

    <div class="main_container">
        <form method="POST" class="container-fluid d-flex flex-column justify-content-center align-items-center sub_container">
            <h1 class="header m-2.5" >Expert Handyman</h1>
            <div class="form-group mt-3">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ request.form.get('email', '') }}"
                    placeholder="Enter email" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password"
                    value="{{ request.form.get('password', '') }}" placeholder="Enter password" />
            </div>
            <p class="forget-password">Forget password?</p>
            <br />
            <button type="submit" class="btn btn-success rounded-pill w-100">Login</button>
        </form>
    </div>
{% endblock content %}
{% block footer %}
{% endblock footer %}
{% block navbar %}
{% endblock navbar %}